<!-- Navigation -->
<header>
    <nav>
        <a class="active" routerLink="/">Home</a>
        <a routerLink="/all-listings">All Automobiles</a>
        <a routerLink="/search">By Year</a>
        <!-- Guest users -->
        <div id="guest">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div>
        <!-- Logged users -->
        <div id="profile">
            <a id="user-greeting">Welcome username</a>
            <a routerLink="/profile">My Listings</a>
            <a routerLink="/create">Create Listing</a>
            <a id="logoutBtn" href="javascript:void(0)">Logout</a>
        </div>
    </nav>
</header>