<section id="login">
    <div class="container">
        <form #form="ngForm" id="login-form" (ngSubmit)="login(form)">
            <h1>Login</h1>
            <p>Please enter your credentials.</p>
            <hr>
            
            <p>Username</p>
            <input #usernameInput="ngModel" ngModel placeholder="Enter Username" name="username" type="text" required>
            
            <p>Password</p>
            <input #passwordInput="ngModel" ngModel type="password" placeholder="Enter Password" name="password" required>

            <input type="submit" class="registerbtn" value="Login">
            
        </form>
        <div class="signin">
            <p>Dont have an account?
                <a routerLink="/register">Sign up</a>.
            </p>
        </div>
    </div>
</section>