<section id="login">
    <div class="container">
        <form id="login-form">
            <h1>Login</h1>
            <p>Please enter your credentials.</p>
            <hr>
            <p>Username</p>
            <input #usernameInput placeholder="Enter Username" name="username" type="text">
            <p>Password</p>
            <input #passwordInput type="password" placeholder="Enter Password" name="password">
            <input (click)="login(usernameInput.value, passwordInput.value)" type="submit" class="registerbtn" value="Login">
        </form>
        <div class="signin">
            <p>Dont have an account?
                <a routerLink="/register">Sign up</a>.
            </p>
        </div>
    </div>
</section>