<section id="edit-listing">
    <div class="container">
        <form #form="ngForm" id="edit-form">
            <!-- (ngSubmit)="edit()" -->
            <h1>Edit Listing</h1>
            <p>Please fill in this form to edit a listing.</p>
            <hr>

            <p>Car Brand</p>
            <input #brandInput="ngModel" ngModel type="text" placeholder="Enter Car Brand" name="brand" required>
            <ng-container *ngIf="brandInput.touched">
                <p *ngIf="brandInput.errors?.required" class="error">Field is required!</p>
                <br>
            </ng-container>

            <p>Car Model</p>
            <input #modelInput="ngModel" ngModel type="text" placeholder="Enter Car Model" name="model" required>
            <ng-container *ngIf="modelInput.touched">
                <p *ngIf="modelInput.errors?.required" class="error">Field is required!</p>
                <br>
            </ng-container>

            <p>Description</p>
            <input #descriptionInput="ngModel" ngModel type="text" placeholder="Enter Description" name="description" required>
            <ng-container *ngIf="descriptionInput.touched">
                <p *ngIf="descriptionInput.errors?.required" class="error">Field is required!</p>
                <br>
            </ng-container>

            <p>Car Year</p>
            <input #yearInput="ngModel" ngModel type="number" placeholder="Enter Car Year" name="year" required min="1947" max="1992">
            <ng-container *ngIf="yearInput.touched">
                <p *ngIf="yearInput.errors?.required" class="error">Field is required!</p>
                <p *ngIf="yearInput.errors?.min" class="error">Year must be later than 1947!</p>
                <p *ngIf="yearInput.errors?.max" class="error">Year must be earlier than 1992!</p>
                <br>
            </ng-container>

            <p>Car Image</p>
            <input #imageInput="ngModel" ngModel type="text" placeholder="Enter Car Image" name="imageUrl" required>
            <ng-container *ngIf="imageInput.touched">
                <p *ngIf="imageInput.errors?.required" class="error">Field is required!</p>
                <br>
            </ng-container>

            <p>Car Country</p>
            <input #countryInput="ngModel" ngModel type="text" placeholder="Enter Car Country" name="country" required>
            <ng-container *ngIf="countryInput.touched">
                <p *ngIf="countryInput.errors?.required" class="error">Field is required!</p>
                <br>
            </ng-container>
            
            <hr>
            <input type="submit" class="registerbtn" value="Edit Listing">
        </form>
    </div>
</section>

<!-- <input type="text" placeholder="Enter Car Country" name="country" .value=${car.country} -->